@media only screen and (min-width : 1200px) {
	.container {
		max-width: 1200px;
	}
}


/* <=1199 */
@media only screen and (max-width : 1199px) {
    
}

/* <=1199 end */

/* <=991 */
@media only screen and (max-width : 991px) {}

/* <=991 end */

/* <=767 */
@media only screen and (max-width : 767px) {
    
}

/* <=767 end */

/* <=599 */
@media only screen and (max-width : 599px) {}

/* <=599 end */

/* <=479 */
@media only screen and (max-width : 479px) {
    html {
        font-size: 80%;
    }
}

/* <=479 end */


// for retina
@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
    .retina {
        background-image: url(example@2x.png);
    }
}

/* Портретная ориентация шаблона */
@media screen and (orientation:portrait) {
    .cloud-zoom-wrapper img.cloudzoom {
        height: auto;
        display: inline;
    }
}
