/*
100 - thin
200 - extralight
300 - light
400 - normal
500 - medium
600 - semibold
700 - bold
800 - extrabold
900 - black
lighter - Изменяет начертание относительно насыщенности родительского элемента (сверхтонкое начертание).
bolder - Изменяет начертание относительно насыщенности родителя элемента (сверхжирное начертание).
*/


@font-face {
    font-family: 'FuturaPTDemi';
    src: url('../fonts/FuturaPTDemi.eot');
    src: url('../fonts/FuturaPTDemi.eot') format('embedded-opentype'),
         url('../fonts/FuturaPTDemi.woff2') format('woff2'),
         url('../fonts/FuturaPTDemi.woff') format('woff'),
         url('../fonts/FuturaPTDemi.ttf') format('truetype'),
         url('../fonts/FuturaPTDemi.svg#FuturaPTDemi') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
    font-family: 'CenturyGothic';
    src: url('../fonts/11528.eot');
    src: url('../fonts/11528.eot') format('embedded-opentype'),
         url('../fonts/11528.woff2') format('woff2'),
         url('../fonts/11528.woff') format('woff'),
         url('../fonts/11528.ttf') format('truetype'),
         url('../fonts/11528.svg#11528') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
    font-family: 'CenturyGothic';
    src: url('fonts/8483.eot');
    src: url('fonts/8483.eot') format('embedded-opentype'),
         url('fonts/8483.woff2') format('woff2'),
         url('fonts/8483.woff') format('woff'),
         url('fonts/8483.ttf') format('truetype'),
         url('fonts/8483.svg#8483') format('svg');
  font-weight: 700;
  font-style: normal;
}




